*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}
body{
    padding: 0 20px;
    color: #373f51;
    font-family: tahoma;
}
header {

    width: 100%;    
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between; }
header .main-nav ul li{   
    color: #999;
    font-size: bold;
    cursor: pointer;
    list-style: none;
    margin-left: 10px;
    transition: 0.3s ease;
    display: inline-block;
font-family: tahoma;}

header .main-nav ul li:hover{
    color: #373f51;
}
header .social i{
    front: size 18px;
    margin-left:10px;
}

header .social i:first-of-type{
    color:  ;
}
.item-box{
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.item-box div{
    margin: auto;
    width: 100%;
    display: inline-block;
    flex: 1 1 50%;
}
.item-box div h2{
    color: #373f51;
    font-size: 4vw;
    margin-bottom: 30px;
    display: inline-block;
    font-family: tahoma;
    text-transform: uppercase;
}

.item-box div p{
    font-style: 1.3vw;
}
.item-box :left{
    color: #333;
    width: auto;
    padding: 10%;
    height: auto;
}
.item-box .right img{
    width: 100%;
    height: 80%;
}
.item-box .third span{
    font-style: 60px;
    color: #d8dbe2;
}
.item-box .third span sub{
    font-style: 30px;
}
.item-box .third h2{
    font-size: 20px;
}
.item-box .third button{
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    font-weight: bold;
    background: transparent;
}
.item-box .third button::after{
    content: '\f178';
    font-family: FontAwesome;
    transform: translateX(7px);
    display: inline-block;
    transition: all 0.3s ease-out;
}
.item-box .fifth input,
.item-box .fifth textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0;
    margin-top:5px;
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #d8dbe2;
}
.item-box .fifth textarea{
    resize: none;
    height: 10em;
}
img{
    width: 30%;
    height: 100vh;
}