*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#abouttxt{
    font-size: 100px;
}

.aboutus{
    background-color: #d6c8b1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid red;
    margin-top: 100px;
}

/* .c1rcle:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(20%);
}

.c2rcle:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(-20%);
}

.c3rcle:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(20%);
}

.c4rcle:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(-20%);
} */




.circles{
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
}

.circle-info, .circle-info1, .circle-info2, .circle-info3{
    text-align: center;
}

.small-img{
    width: 20px;
    height: 20px;
}

